@reference "../../../tailwind.css";
/**
 * This is the documentation comment for the .l-login class.
 * It is defined in the file.
 */
.login {
  @apply relative block h-screen w-screen justify-between bg-cover bg-right-top bg-no-repeat lg:flex;
  background-image: url('../../../shared/assets/images/login-base.svg');

  > .wrapper {
    @apply bg-base-50 absolute top-1/2 left-1/2 flex -translate-x-1/2 -translate-y-1/2 overflow-hidden rounded-md;
    > header {
      @apply bg-base-100 w-96 bg-no-repeat p-10;
      min-height: 424px;
      background-size: 70%;
      background-position: center bottom;
      background-image: url('../../../shared/assets/images/login.svg');
    }
    > main {
      @apply w-full p-8;
    }
  }
  h1 {
    @apply mb-4 text-2xl leading-8 font-bold md:text-3xl md:leading-10;
  }
  h5 {
    @apply mb-8;
  }

  .block-grap-1 {
    @apply flex items-center gap-1 pb-2;
  }

  .entry {
    @apply h-10;
  }
}
