@reference "../../../../tailwind.css";

// .menu {
//   @apply bg-base-0 flex min-w-32 items-center;

//   &.col {
//     @apply w-fit flex-col;

//     > li {
//       @apply relative w-full;

//       > button:has(+ ul):after {
//         @apply rotate-0;
//       }
//       > ul {
//         @apply top-0 left-full;
//       }
//       &:hover {
//         > ul {
//           @apply visible opacity-100;
//         }
//       }
//     }
//   }
//   li {
//     @apply relative;

//     > button {
//       @apply text-base-800 relative flex w-full items-center gap-2 px-2 py-1 text-left;

//       &:hover {
//         @apply bg-gray-300;
//       }

//       &:has(+ ul) {
//         @apply pr-5;
//         &::after {
//           @apply bg-base-800 absolute top-2.5 right-0 size-3.5 rotate-90 bg-cover;
//           content: '';
//           mask: url('/assets/images/arrow.svg') no-repeat 100% 100%;
//           mask-size: cover;
//         }
//       }
//     }
//     > ul {
//       @apply bg-base-0 invisible absolute top-auto left-auto mt-2 w-full rounded opacity-0 shadow;

//       button {
//         &:has(+ ul) {
//           @apply pr-0;
//           &::after {
//             @apply right-1 rotate-0;
//           }
//         }
//       }
//       ul {
//         @apply absolute top-0 mt-0 ml-2;
//         left: 101%;
//       }
//     }
//     &:hover {
//       > ul {
//         @apply visible z-50 mt-0 ml-0 opacity-100 transition-all duration-300 ease-in-out;
//       }
//     }
//   }
// }
