[data-theme='dark'] {
  --b00: #020202;
  --b05: #0E0F11;
  --b10: #191c20;
  --b15: #252A2F;
  --b20: #30373e;
  --b30: #48515b;
  --b40: #5f6c79;
  --b50: #768697;
  --b60: #919eac;
  --b70: #adb6c1;
  --b80: #c8cfd5;
  --b85: #D6DBE0;
  --b90: #e4e7ea;
  --b95: #f1f3f5;
  --b100: #ffffff;

  --p05: #0B0518;
  --p10: #150a2f;
  --p15: #200F47;
  --p20: #2b145e;
  --p30: #401f8e;
  --p40: #5629bd;
  --p50: #6b33ec;
  --p60: #895cf0;
  --p70: #a685f4;
  --p80: #c4adf7;
  --p85: #D3C2F9;
  --p90: #e1d6fb;
  --p95: #f0ebfd;

  --i05: #070A18;
  --i10: #0d142f;
  --i15: #141E47;
  --i20: #1a285e;
  --i30: #283b8d;
  --i40: #354fbc;
  --i50: #4263eb;
  --i60: #6882ef;
  --i70: #8ea1f3;
  --i80: #b3c1f7;
  --i85: #C6D0F9;
  --i90: #d9e0fb;
  --i95: #eceffd;

  --s05: #01110C;
  --s10: #022118;
  --s15: #043224;
  --s20: #054230;
  --s30: #076448;
  --s40: #0a8560;
  --s50: #0ca678;
  --s60: #3db893;
  --s70: #6dcaae;
  --s80: #9edbc9;
  --s85: #B6E4D7;
  --s90: #ceede4;
  --s95: #e7f6f2;

  --w05: #191000;
  --w10: #312000;
  --w15: #4A3000;
  --w20: #624000;
  --w30: #935f00;
  --w40: #c47f00;
  --w50: #f59f00;
  --w60: #f7b233;
  --w70: #f9c566;
  --w80: #fbd999;
  --w85: #FCE2B3;
  --w90: #fdeccc;
  --w95: #fef5e6;

  --e05: #160104;
  --e10: #2d0107;
  --e15: #43020B;
  --e20: #59030e;
  --e30: #860415;
  --e40: #b2061c;
  --e50: #df0723;
  --e60: #e5394f;
  --e70: #ec6a7b;
  --e80: #f29ca7;
  --e85: #F5B5BD;
  --e90: #f9cdd3;
  --e95: #fce6e9;
}
[data-theme='light'] {
  --b00: #ffffff;
  --b05: #f1f3f5;
  --b10: #e4e7ea;
  --b15: #D6DBE0;
  --b20: #c8cfd5;
  --b30: #adb6c1;
  --b40: #919eac;
  --b50: #768697;
  --b60: #5f6c79;
  --b70: #48515b;
  --b80: #30373e;
  --b85: #252A2F;
  --b90: #191c20;
  --b95: #0E0F11;
  --b100: #020202;

  --p05: #f0ebfd;
  --p10: #e1d6fb;
  --p15: #D3C2F9;
  --p20: #c4adf7;
  --p30: #a685f4;
  --p40: #895cf0;
  --p50: #6b33ec;
  --p60: #5629bd;
  --p70: #401f8e;
  --p80: #2b145e;
  --p85: #200F47;
  --p90: #150a2f;
  --p95: #0B0518;


  --i05: #eceffd;
  --i10: #d9e0fb;
  --i15: #C6D0F9;
  --i20: #b3c1f7;
  --i30: #8ea1f3;
  --i40: #6882ef;
  --i50: #4263eb;
  --i60: #354fbc;
  --i70: #283b8d;
  --i80: #1a285e;
  --i85: #141E47;
  --i90: #0d142f;
  --i95: #070A18;

  --s05: #e7f6f2;
  --s10: #ceede4;
  --s15: #B6E4D7;
  --s20: #9edbc9;
  --s30: #6dcaae;
  --s40: #3db893;
  --s50: #0ca678;
  --s60: #0a8560;
  --s70: #076448;
  --s80: #054230;
  --s85: #043224;
  --s90: #022118;
  --s95: #01110C;

  --w05: #fef5e6;
  --w10: #fdeccc;
  --w15: #FCE2B3;
  --w20: #fbd999;
  --w30: #f9c566;
  --w40: #f7b233;
  --w50: #f59f00;
  --w60: #c47f00;
  --w70: #935f00;
  --w80: #624000;
  --w85: #4A3000;
  --w90: #312000;
  --w95: #191000;

  --e05: #fce6e9;
  --e10: #f9cdd3;
  --e15: #F5B5BD;
  --e20: #f29ca7;
  --e30: #ec6a7b;
  --e40: #e5394f;
  --e50: #df0723;
  --e60: #b2061c;
  --e70: #860415;
  --e80: #59030e;
  --e85: #43020B;
  --e90: #2d0107;
  --e95: #160104;
}
